{
  "presets":[
     "@babel/preset-react"
  ],
  "env":{
     "test":{
        "plugins":[
           [
              "istanbul",
              {
                 "exclude":[
                    "**/*.spec.js",
                    "src/serviceWorker.js"
                 ],
                 "include":[
                    "src/**/*.{js,jsx}"
                 ]
              }
           ]
        ]
     }
  },
  "plugins":[
     "transform-class-properties"
  ]
}