{
  "presets": ["@babel/preset-react"],
  "env": {
    "test": {
      "plugins": [["istanbul", {
        "exclude": [
          "**/*.spec.js", "**/serviceWorker.js"
        ]}]]
    }
  },
  "plugins": ["transform-class-properties"]
}