{
  "presets":[
     "react-app"
  ],
  "env":{
     "test_cypress":{
        "plugins":[
           [
              "istanbul",
              {
               "include":[
                  "src/**/*.{js,jsx}"
               ],
                 "exclude":[
                    "**/*.spec.{js,jsx}"
                 ]
              }
           ]
        ]
     }
  },
  "plugins":[
     "transform-class-properties"
  ]
}